.message-main-con {
  display: flex;
  background: #e5efef;

  /* height: calc(100vh - 186px); */
  /* height: 100vh; */
  padding-right: 40px;
  padding-bottom: 24px;
  padding-top: 22px;
}
.chat-image {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Ensure height matches width for a perfect circle */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the area and maintains aspect ratio */
  display: inline-block; /* Ensures it behaves like an inline element */
  height: 65%;
}
.contact-list-con {
  padding-left: 40px;
  padding-right: 10px;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  cursor: pointer;
  width: 25%;
}

.contact-list-con .friends-list-con{
  max-height: 480px;
  overflow-y: auto;


}
.contact-list-con span {
  font-size: 23px;
  font-weight: 900;
}
.contact-list-con .search-con {
  /* border: 1px solid black; */

  background: #eeeeee;
  border-radius: 12px;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-list-con .search-con input {
  padding-block: 10px;

  border: none;
  background: #eeeeee;
  font-weight: 900;
  color: black !important;
  outline: none;
}
.contact-list-con .user-con {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 43px;
  width: 100%;
  padding-bottom: 16px;
}
.user-con .user-details-con {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.contact-list-con .user-con .user-img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
  position: relative;
}
.user-con .user-img .isOnine {
  position: absolute;
  bottom: 5px;
  right: 1px;
  background: #982142;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  border: 1px solid white;
}

.user-con .user-name-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-name-div .name {
  display: flex;
  gap: 5px;
  color: black;
  font-size: 14px;
  font-weight: 900;
  padding-left: 15px;
  position: relative;
}
.name img {
  position: absolute;
  left: 0;
}
.user-name-div .time {
  color: #474a4a;
  font-size: 14px;
  font-weight: 900;
}

.user-con .last-message {
  padding-left: 15px;
  font-weight: 900;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.user-con .last-message img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.message-main-con .chat-section {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.message-main-con .typing {
  color: #9a2143;
}

.chat-section .chat-header {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fafafa;
  padding-left: 22px;
}

.chat-header img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  object-fit: cover;
}

.chat-header .name {
  font-size: 16px;
  font-weight: 900;
  color: black;
}
.chat-header .online {
  color: #982142;
  font-weight: 900;
  font-size: 14px;
}

.chat-section .chat-con {
  background: #fafafa;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.chat-con .message-input-con {
  width: 100%;
  display: flex;
  padding-left: 53px;
  padding-right: 30px;
  gap: 10px;
}
.message-input-con input {
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  font-size: 14px;
  color: black;
  font-weight: 800;
  background: #e5efef;
  border: none;
}
.message-input-con input:focus {
  outline: none;
}

.message-input-con .send-message-btn {
  color: #982142;
  font-size: 14px;
  width: 10%;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.message-input-con .send-message-btn:hover {
  background: #982142;
  color: white;
}

.chat-con .chat {
  display: flex;
  flex-direction: column;
  gap: 32px;
height: calc(100vh - 465px);
  overflow: auto;
}

 
*::-webkit-scrollbar {
  width: .5em;

}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(154, 33, 33, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #9a2143;

    border-radius: 10px;
    cursor: pointer;

}


.chat-con .chat .chat-message {
  display: flex;
  gap: 10px;
  padding-inline: 24px;
}

.chat .chat-message {
  font-size: 14px;
  font-weight: bold;
}

.chat .chat-message img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.chat .chat-message .message {

  background: #f4f4f7;
  padding: 10px;
  border-radius: 10px;
}

.chat .chat-message .message p {
  max-width: 400px;
  word-wrap: break-word;
  padding-bottom: 4px;
  font-weight: 900;
}

.chat-message .message .message-time {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 100%;
}
.message-time p {
  font-weight: 800;
}

.chat-message .message .message-time img {
  width: 14px;
  height: 10px;
}


/* Media Queries */

@media (max-width: 1600px) {
  .contact-list-con {
padding-left: 10px;
padding-right: 0;
  }
  .user-con{
    padding-right: 10px !important;
  }
  .message-input-con{
    padding-inline: 20px !important;
  }

}


@media (max-width: 1110px) {

.chat-con .chat{
height: calc(100vh - 380px);
}
  .message-input-con .send-message-btn{
    width: 20%;
  }
}

@media (max-width: 1028px) {
.message-main-con{
  padding-right: 10px;
;
}
.message-main-con .chat-section{
  width: 70%;
}

.contact-list-con{
  width: 30%;
}
.chat .chat-message .message p{
  max-width: 300px;
}
}


@media (max-width: 870px) {
.message-main-con .chat-section{
  width: 65%;
}

.contact-list-con{
  width: 35%;
}
.chat-con .chat{
height: calc(100vh - 350px);


}

}