@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-main-con{

      font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
}
.about-main-img{
    width: 100%;
    position: relative;
    
}
.about-main-img img{
    width: 100%;
}
.about-content{
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about-content .content{

      max-width: 663px;
    position: absolute;
    z-index: 1;
  color: white;
  text-align: center;
top: 30%;
 color: #F9F9AA;

}

.about-content span{
    font-weight: 600;
    font-size: 96px;
}.about-content p{
    font-size: 24px;
}
/* banner2 */
.banner2{
 
display: flex;
justify-content: flex-start;
align-items: center;
width: 100%;

}

.banner2 .slider-con{
   width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 43px;
}

.banner-text{
    width: 35%;

    padding: 42px ;
}
.banner-text p{
    font-size: 64px;
    font-weight: bold;
    
   
}
.banner-text p span{
    color: #9A2143;
}
/* card section */
.banner-card{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



/* banner3 */
.banner3-main{
    width: 100%;
  
    display: flex;
    justify-content: space-between;

   
}
.banner3-text{
    width: 65%;

    padding: 168px 223px;
    font-size: 64px;
   

   
}
.banner3-text p{
  font-family: "Playfair Display", serif;
  font-size: 45px;
 
}
.banner3-text span{
    font-weight: bold;
    color: #9A2143;
    font-family: "Playfair Display", serif;
}

.banner3-image{
    width:50%;
    padding: 30px 120px 30px 0px;
  
}
.banner3-image img{
    width: 100%;
   
}



/* banner5 */
.banner5-main{
    width: 100%;

}
.logo-img{
    display: flex;
    justify-content: center;
}
/* .banner-text {
   
} */
.banner5-text p{
    font-size: 32px;
    font-family: "Playfair Display", serif;

}
.para1{
  padding-left: 12px;
  text-align: center;
}
.para2{
   padding: 57px 12px;
     text-align: center;

}

/* banner6 */
.banner6-main{
    width: 100%;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
}

.banner6-main .content{
      font-family: "Playfair Display", serif !important;
      font-weight: 500;

    display: flex;
    align-items: center;
    color: #D23A30;
    font-size: 48px;

}
.about-main-con .cofounder-main-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 136px;
    padding-inline: 280px;
}

.cofounder-main-con .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cofounder-img-con{
    width: 100%;
    display: flex;
    gap: 46px;
}

.cofounder-img-con .img1{
position: relative;
object-fit: cover;
transform: scale(.8);

width: 30%;

}.cofounder-img-con .img2{
width: 30%;
object-fit: cover;
position: relative;
bottom: -100px;

}.cofounder-img-con .img3{
width: 30%;
transform: scale(.8);
object-fit: cover;

}

.carousel-con{
    width: 100%;
    border-right: 4px solid #9A2143;
    padding-right: 40px;
    padding-bottom: 10px;
        padding-left: 100px;

}


.carousel-con .react-multiple-carousel__arrow--left{
    left: calc(1% + -8px);
    background: #9a2143;
            font-weight: 900;

}
.carousel-con .react-multiple-carousel__arrow--right{
    right: calc(1% + -9px);
        background: #9a2143;
        font-weight: 900;

}


@media (max-width: 1660px) {
.about-main-con .cofounder-main-con{
    padding-inline: 100px !important;
}
.carousel-con .react-multiple-carousel__arrow--left{
    left: calc(1% + -7px);
    background: #9a2143;
            font-weight: 900;
            z-index: 9999 !important;

}
.carousel-con .react-multiple-carousel__arrow--right{
    right: calc(1% + -5px);
        background: #9a2143;
        font-weight: 900;

}
.banner3-text{
    padding: 108px 100px;
    font-size: 50px;
}
}

 @media (max-width: 1400px) {
.about-content span{
    font-size: 80px;
}
.about-content p{
    font-size: 18px;
}
.banner-text p{
    font-size: 50px;
}
.carousel-con{
    padding-left: 70px;
}
.banner3-text{
    font-size: 40px;
}
.banner3-text p{
    font-size: 40px;
}
.banner5-main .logo-img img{
    width: 400px;
}
.banner5-text p{
    font-size: 24px;
}
} 


 @media (max-width: 1260px) {
.about-main-con .cofounder-main-con{
    padding-inline: 50px !important;
}
.banner3-image{
    padding-right:80px !important ;
}
.banner3-text{
    font-size: 30px;
}
.banner3-text p{
    font-size: 30px;
}
.banner6-main .content{
    font-size: 32px;
}
.banner6-main .content img{
width: 200px;
}
} 

 @media (max-width: 1020px) {
 .carousel-con .react-multiple-carousel__arrow--left{
    left: calc(1% + -3px);
    background: #9a2143;
            font-weight: 900;

}
.carousel-con .react-multiple-carousel__arrow--right{
    right: calc(1% + -3px);
        background: #9a2143;
        font-weight: 900;

}
.banner3-text{
    font-size: 25px;
}
.banner3-text p{
    font-size: 25px;
}
.banner3-image{
    padding-right:60px !important ;
}
.banner5-main .logo-img img{
    width: 300px;
}
.banner5-text p{
    font-size: 20px;
}
.banner6-main .content{
    font-size: 28px;
}
.banner6-main .content img{
width: 180px;
}
} 
 @media (max-width: 978px) {
.about-content span{
    font-size: 60px;
}
.about-content p{
    font-size: 16px;
}
.banner-text p{
    font-size: 25px;
}
.banner3-text{
    font-size: 20px;
}
.banner3-text p{
    font-size: 20px;
}
.banner3-image{
    padding-right:40px !important ;
}
.banner5-main .logo-img img{
    width: 250px;
}
.banner5-text p{
    font-size: 18px;
}
.banner6-main .content{
    font-size: 24px;
}
.banner6-main .content img{
width: 140px;
}
} 

 @media (max-width: 770px) {
.about-content span{
    font-size: 50px;
}
.about-content p{
    font-size: 14px;
    max-width: 500px;
}


} 

