
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-main-con{
    background:greenyellow;
}
.about-main-img{
    width: 100%;
    position: relative;
    
}
.about-main-img img{
    width: 100%;
    /* position: relative; */
  
    
}
.about-content{
    max-width: 300px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    z-index: 1;
  color: white;
  text-align: center;
  top: 30%;
  left: 40%;
 

    
}