.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}


.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 16px;
  border: 1px solid #ddd;
  color: #9a2143;
  cursor: pointer;
  text-decoration: none;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.active .page-link {
  background-color: #9a2143;
  color: white;
  border-color: #9a2143;
}
